*.bc
*.o
*.so
/*.sql
/Cargo.lock
/doc/html/
/doc/pg_sphere*.fo
/doc/pg_sphere-*.html
/doc/pg_sphere-*.pdf
/doc/pg_sphere-full.xml
/doc/pg_sphere.dsl
/doc/version.xml
/log
/results/
regression.out
regression.diffs
rust/cone.h
tags
/target/
/tmp_check
buildpod
.deps
